* {
  font-family: 'League Spartan Bold', arial;
  padding: 0;
  margin: 0;
  background-color: white;
}
table, td, tr {
  border-collapse: collapse;
}
img {
  padding:0;
  margin:0;
  display: block;
}
a {
  text-decoration: none;
  color: #192052;
}
p {
  color: #192052;
}
nav ul {
	display: inline;
}
nav ul li {
	font-size:1.2rem;
  padding: 10px;
}
nav ul li a {
	color: #192052;
	text-decoration:none;
}
ul li {
	display: inline-block;
}

/*  footer  */

#footsoc {
  display: inline-block;
  padding-top:1.2rem;
  width:35px;
  height:auto;
}
#made {
  padding-bottom:30px;
}
