body, html {
	font-family: 'Amiko', sans-serif;
	padding:0%;
	margin:0%;
}
a {
  text-decoration: none;
  color:#192052;
}
#footsoc1 {
  padding-top:1.2rem;
	padding-right:0;
	margin-right: 0;
  width:35px;
  height:auto;
}
#footsoc {
  padding-top:1.2rem;
	padding-left:0;
	padding-right:0;
	margin-right: 0;
  width:35px;
  height:auto;
}
.mono {
  color:#192052;
  padding-bottom:0%;
  margin-bottom:0%;
}
#made {
  text-decoration: none;
  color:#192052;
  padding-top:0%;
  margin-top:0%;
}
#headh1, #headbutton {
	display:inline-block;
	padding-top:5px;
	padding-bottom:0;
	color:#192052;
}
#headh1 {
	padding-left:20px;
	margin-top:0;
}
#headimg {
	width: 100%;
	height:auto;
}
#about {
	width: 50%;
	height:auto;
	padding-bottom:0;
	margin-bottom:0;
}
#about2 {
	width: 50%;
	height:auto;
	padding-bottom:0;
	margin-bottom:0;
}
#fill {
	size:1%;
	color:#ffffff;
}
