body, html {
	font-family: 'Amiko', sans-serif;
	padding:0%;
	margin:0%;
	background-color:#f9f9f9;
}
#welcomeheader {
	width: 100%;
	height: auto;
	padding: none;
	margin: none;
}
img,a {
	display:block;
	padding:0%;
	margin:0%;
}
